<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/mvc 
   http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean id="internalViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="contentNegotiatingViewResolver"
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver ">
		<property name="viewResolvers">
			<list>
				<ref bean="pdfViewResolver" />
				<ref bean="internalViewResolver" />
				<ref bean="jsonViewResolver" />
			</list>
		</property>
	</bean>

	<bean id="pdfViewResolver"
		class="learnjava.practice.springweb.view.PdfViewResolver" />

	<bean id="jsonViewResolver"
		class="learnjava.practice.springweb.view.JsonViewResolver" />

	<context:component-scan
		base-package="learnjava.practice" />
	<!-- Below tag is for static html pages -->
	<mvc:resources location="/WEB-INF/jsp/"
		mapping="/static/**"></mvc:resources>
	<mvc:interceptors>
		<bean
			class="learnjava.practice.springweb.interceptors.MyInterceptor" />
	</mvc:interceptors>
</beans>