<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jdbc		
		http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
		location="file:////C://properties//application.properties" />
	<!-- connect to database -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="${DRIVER_CLASS_NAME}" />
		<property name="url"
			value="${DB_CONNECTION_URL}" />
		<property name="username" value="${DB_USER}" />
		<property name="password" value="${DB_PASSWORD}" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />

	<bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="databaseType" value="Oracle" />
	</bean>
	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>

	<!-- create job-meta tables automatically -->
	<jdbc:initialize-database
		data-source="dataSource" enabled="false">
		<jdbc:script
			location="org/springframework/batch/core/schema-drop-oracle10g.sql" />
		<jdbc:script
			location="org/springframework/batch/core/schema-oracle10g.sql" />
	</jdbc:initialize-database>
	<bean id="printTasklet"
		class="learnjava.practice.springbatch.tasklet.PrintTasklet" />
	


</beans>